<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/header :: head"/>
    <title>[[${project.name}]] | v[[${translation.version}]] | [[${language.locale}]] | Spanslator</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container"><br/>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a th:text="${project.name}"
                   th:href="@{/project/{projectId}/translations(projectId=${project.id})}"></a></li>
            <li>
                <a th:href="@{/project/{projectId}/translation/{version}/languages(projectId=${project.id},version=${translation.version})}">v[[${translation.version}]]</a>
            </li>
            <li class="is-active"><a href="#" aria-current="page">[[${language.locale}]]</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="title is-2 columns is-centered">Glossaries</h1>
        <br/>
        <table class="table is-hoverable is-fullwidth" id="glossaryTable">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Source Text</th>
                <th scope="col">Translated Text</th>
            </tr>
            <thead class="thead-light">
            <tr>
                <th scope="col"><input class="input" type="text" id="sourceTextInput"
                                       onkeyup="sourceTextSearchFunction()"
                                       placeholder="Search for Source Text"
                                       title="Type a Source Text"></th>
                <th scope="col"><input class="input" type="text" id="translatedTextInput"
                                       onkeyup="translatedTextSearchFunction()"
                                       placeholder="Search for Translated Text"
                                       title="Type Translated Text"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="g: ${glossaries}">
                <tr>
                    <td th:text="${g.sourceText}"></td>
                    <td><p th:text="${g.translatedText}"></p></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script>
    function sourceTextSearchFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("sourceTextInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("glossaryTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function translatedTextSearchFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("translatedTextInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("glossaryTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    var modal = document.getElementById("createGlossaryFileModal");
    var btn = document.getElementById("createGlossaryFileButton");
    var span = document.getElementsByClassName("delete")[0];
    var bgr = document.getElementsByClassName("modal-background")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        modal.style.paddingTop = "10%";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    bgr.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
</body>
</html>