<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/header :: head"/>
    <title>Spanslator | Translation Engine</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container"><br/>
    <h1 class="title is-2 columns is-centered">List of Projects</h1><br/>
    <div class="columns is-centered">
        <table class="table is-hoverable is-narrow is-fullwidth">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created Date</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="p: ${projects}">
                <tr>
                    <td><a th:text="${p.name}"
                           th:href="@{/project/{projectId}/translations(projectId=${p.id})}"></a></td>
                    <td th:text="${p.description}"></td>
                    <td th:text="${#dates.format(p.createdDate,'dd MMMM yyyy')}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<script>
    var modal = document.getElementById("createProjectModal");
    var btn = document.getElementById("createProjectButton");
    var span = document.getElementsByClassName("delete")[0];
    var bgr = document.getElementsByClassName("modal-background")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        modal.style.paddingTop = "10%";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    bgr.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>