<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/header :: head"/>
    <title>[[${project.name}]] | v[[${translation.version}]] | Spanslator</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container"><br/>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a th:text="${project.name}"
                   th:href="@{/project/{projectId}/translations(projectId=${project.id})}"></a></li>
            <li class="is-active"><a href="#" aria-current="page">v[[${translation.version}]]</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="title is-2 columns is-centered">Languages in [[${project.name}]] v[[${translation.version}]]</h1>
        <br/>
        <div class="columns is-centered">
            <table class="table is-hoverable is-centered" th:if="${languagePresent} == true">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Locale</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="l: ${languages}">
                    <tr>
                        <td><a th:text="${l.locale}"
                               th:href="@{/project/{projectId}/translation/{version}/language/{locale}/glossary(projectId=${project.id},version=${translation.version},locale=${l.locale})}"></a>
                        </td>
                        <td><p th:text="${l.name}"></p></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <p th:if="${languagePresent} == false">No Languages are added to the translation version</p>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("createLanguageModal");
    var btn = document.getElementById("createLanguageButton");
    var span = document.getElementsByClassName("delete")[0];
    var bgr = document.getElementsByClassName("modal-background")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        modal.style.paddingTop = "10%";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    bgr.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>