<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/header :: head"/>
    <title>[[${project.name}]] | Spanslator</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<div class="container"><br/>
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">[[${project.name}]]</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="title is-2 columns is-centered">Translations of [[${project.name}]]</h1><br/>
        <div class="columns is-centered">
            <table class="table is-hoverable is-centered">
                <thead>
                <tr>
                    <th>Version</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="t: ${translations}">
                    <tr>
                        <td>
                            <a th:text="${t.version}"
                               th:href="@{/project/{projectId}/translation/{version}/languages(projectId=${project.id},version=${t.version})}"></a>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById("createTranslationModal");
    var btn = document.getElementById("createTranslationButton");
    var span = document.getElementsByClassName("delete")[0];
    var bgr = document.getElementsByClassName("modal-background")[0];
    btn.onclick = function () {
        modal.style.display = "block";
        modal.style.paddingTop = "10%";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    bgr.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>